@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen:wght@400;700&display=swap");
.HERO {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  width: 350px;
  padding: 5px;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.button {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 650px) {
  .inputs input {
    width: 250px;
  }
  .form {
    justify-content: center;
    align-items: center;
  }
}
