@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.title h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  margin: 0px;
  font-size: 50px;
  font-weight: 700;
}
.list ul {
  margin: 0px;
  padding: 0px;
}
.list li {
  list-style-type: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
