.genStyle {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.4s;
}
img:hover {
  transform: scale(1.1);
}
